*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-bg: hsl(0, 0%, 88%);
  --color-bg-darker: hsl(0, 0%, 75%);
  --color-bg-ligther: hsl(0, 0%, 100%);
  --color-text: hsl(29, 93%, 50%);
  --color-text-send: hsl(29, 90%, 23%);
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: var(--color-text);
}
